
body{
	margin: 0;
	font-family: Arial;
	background-color: #ddd;
}


#content{
	display: flex;
	flex-direction: column;
	height: 100vh;
}


header{
	background-color: #154889;
	line-height: 60px;
}

header *{
	box-sizing: border-box;
}

header img{
	height: 60px;
	padding: 5px;
	float: left;
}

header #title{
	vertical-align: top;
	color: white;
	margin-left: 10px;
	font-size: 30px;
}


main{
	flex: 1 0 auto;
	margin: 50px 20vw;
}


footer{
	text-align: center;
	padding: 10px;
	background-color: #aaa;
	font-size: 12px;
}


.itemcard{
	display: inline-block;
	vertical-align: top;
	width: 300px;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	background-color: #fff;
	transition: transform .2s ease-in-out;
	filter: drop-shadow(20px 10px 3px #bbb);
}

.itemcard:hover{
	transform: scale(1.05);
}

.itemcard .imgcontainer {
	height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.itemcard .imgcontainer img {
    display: inline-block;
    max-width:90%;
    max-height:90%;
    width: auto;
    height: auto;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.itemcard .title{
	font-size: 20px;
	margin: 10px 0px;
}

.itemcard .description{
	margin: 10px 0px;
}

.stars{
	--percent: calc(var(--rating) / 5 * 100%);
	font-family: Times;
	line-height: 1;
	font-size: 20px;
	display: inline-block;
}

.stars::before{
	content: '★★★★★';
	background: linear-gradient(to right, #fc0 var(--percent), #ccc var(--percent));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ratingCount{
	margin-left: 5px;
	color: gray;
	font-size: 15px;
	vertical-align: text-bottom;
}

.inStock{
	margin-top: 10px;
	color: green;
	font-size: 15px;
}

.outOfStock{
	color: red;
}


.pushButton {
	border-radius: 10px;
	width: 100%;
	border: none;
	padding: 0;
	margin-top: 25px;
	height: 30;
	cursor: pointer;
	outline-offset: 4px;
}

.pushButtonFront {
	display: block;
	padding: 20px 42px;
	border-radius: 10px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	
	transform: translateY(-6px);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;
}


.pushButton.enabledButton {
	background: #e70;
}

.pushButtonFront.enabledButton {
	background: #fa0;
	color: white;
}

.pushButtonFront.enabledButton:active {
	transform: translateY(-3px);
	transition:  0.02s;
}

.pushButton.disabledButton {
	background: #7a7a7a;
	pointer: default;
}

.pushButtonFront.disabledButton {
	background: #a6a6a6;
	color: white;
}

.modal {
	display: none;
	background-color: #0005;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 6942;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 100px;
	font-size: 50px;
	text-align: center;
	background-color: #fff;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	 user-select: none;
}

@media only screen and (orientation: portrait){

	main{
		margin: 50px 50px;
	}
}

